.blurry {
  background: url('b_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  position:fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
}

.my-cool-wrapper {
      position: relative;
      margin-left: 40px;
      margin-top: 50px;
 }
 .my-cool-wrapper .text-and-images-on-top {
      padding-left: 250px;
      z-index: 1;
      position: fixed; /* needed to enable the z-index */
      font-size: 25px;
      text-align: center;
      padding-top: 10px;

 }

 .my-cool-wrapper img {
       float:left;
       padding-left: 20px;
       padding-right: 20px;
  }

 .my-cool-wrapper .text-and-images-on-top h5, h6 {
 }

 .my-right-wrapper {
       position: relative;
       margin-left: 20px;
       margin-top: 50px;
  }

  .my-right-wrapper img {
        height:90px;
        width:60px;
   }

 .my-cool-wrapper .transparent-background {
      position: fixed;
      top: 105px;;
      width: 50%;
      height: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";       /* IE 8 */
      filter: alpha(opacity=10);  /* IE 5-7 */
      -moz-opacity: 0.1;          /* Netscape */
      -khtml-opacity: 0.1;        /* Safari 1.x */
      opacity: 0.3;               /* Good browsers */
      background-color: #DEDEE4;
 }

 .my-right-wrapper .text-and-images {
      z-index: 1;
      position: relative; /* needed to enable the z-index */
      font-size: 15px;
      float: right;
      padding-right: 200px;
      text-align: center;
      display: inline-block;
 }

 .my-right-wrapper h2 {
   font-size: 30px;
 }


 .my-right-wrapper .transparent-background {
      position: fixed;
      display: block;
      right: 0;
      top: 105px;
      width: 30%;
      height: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";       /* IE 8 */
      filter: alpha(opacity=10);  /* IE 5-7 */
      -moz-opacity: 0.1;          /* Netscape */
      -khtml-opacity: 0.1;        /* Safari 1.x */
      opacity: 0.3;               /* Good browsers */
      background-color: #DEDEE4;
      margin-right: 80px;
 }



body {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding-top: 50px;
  margin-left: 0px;
}


span {
    position: relative;
    z-index:9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}
.navbar-show {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar-show a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.footer {
  bottom: 5px;
  text-align: center;
  color: white;
  position: fixed;
}
.footer a{
  bottom: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
