.blurry {
  background: url('b_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  position:fixed;
  width:100%;
  height:100%;
  opacity: 0.9;
}

.my-cool-wrapper {
      position: relative;
      margin-left: 40px;
      margin-top: 50px;
 }
 .my-cool-wrapper .text-and-images-on-top {
      padding: 10px 15px 19px 15px;
      z-index: 1;
      position: relative; /* needed to enable the z-index */
      font-size: 30px;
 }

 .my-cool-wrapper img {
       float:left;
       padding-right: 100px;
  }

 .my-cool-wrapper .text-and-images-on-top h5, h6 {
 }

 .my-cool-wrapper .transparent-background {
      position: absolute;
      top: 0;
      width: 70%;
      height: 100%;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";       /* IE 8 */
      filter: alpha(opacity=10);  /* IE 5-7 */
      -moz-opacity: 0.1;          /* Netscape */
      -khtml-opacity: 0.1;        /* Safari 1.x */
      opacity: 0.3;               /* Good browsers */
      background-color: #DEDEE4;
 }


body {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding-top: 50px;
  margin-left: 0px;
}

img {
  padding-left: 100px;
}

span {
    position: relative;
    z-index:9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}
.navbar-show {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar-show a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.footer {
  bottom: 0;
  text-align: center;
  color: white;
}
.footer a{
  bottom: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}
