body {
text-align: center;
}



p {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

h1 {
  font-weight: bold;
}

h4 {
  color: #15048E;
  font-size: 20px;
}

.jumbotron {
}

.alert-info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0%;
  opacity: 50%;
}

.book_holder {
  margin-top: 50px;
}
.book_holder li  {
  display: inline-block;
}

.book_holder img {
  height: 150px;
  width: 100px;
}
