<!DOCTYPE html>
<html>
  <head>
    <title>BookShare</title>

  </head>

  <body>
    <div class="alert alert-info alert-dismissible fade show">
      <%= flash[:notice]  %>
 </div>
    <%= yield %>
  </body>
</html>
